
*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    
}

.contai{
    width: 100%;
    height: 80vh;
    /*background-image: linear-gradient(#000000b3,#000000b3),url(cyberpunk.jpg);*/
    background-image: url('echo-header.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


.rou{
    display:flex;
    height:88%;
    align-items: center;
    
}

.coluna{
    flex-basis: 50%;
    
}

.h1{
    color: #747373;
    font-size: 100px;

}

.coluna p{
    color: #888888;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
}

.button-header{
    width: 230px;
    height: 200px;
    outline: none;
    margin-top: 20px;
    margin-bottom: -80px;
    cursor: pointer;
    margin-left: -40px;
    
}




.sec2{
    flex-direction: column;
}

.sec-i3{
    background-image: url('echo-background.jpg');
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    
}

  

.txt-i3{
    text-align: center;
    flex-basis: 50%;
    font-size: 20px;
    text-shadow: white 1px 1px 2px;
    color: #797979;
}

.txt-i3 h2{
    font-size: 40px;
    padding-bottom: 10px;
    color: #797979;
}


.sec-i5{
    background-image: url('echo-muda.jpg');
    width: 100%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    display:flex;
    align-items: center;
}

.txt-i5{
    text-align: center;
    flex-basis: 50%;
    font-size: 20px;
    color: #6b6b6b;
}
@media screen and (max-width: 1200px){
    .txt-i5{
        flex-basis:60%;  
    }
}
  

.txt-i5 h2{
    font-size: 40px;
    padding-bottom: 10px;
    color: #6b6b6b;
}



.sec-i7 img{
    width: 99%;

}
   

.text-passos{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   text-align: center;
}
.text-passos-div{
    display: flex;
    color: #6b6b6b;
}
@media screen and (max-width:1000px){
    .text-passos-div{
        flex-direction: column;
        padding-left: 6%;
        font-size: 12px;
        padding-right: 3%;
    }
}

.text-passos-div h2{
    color:#00e3f3;
    line-height: 15px;
}

.sec-i9{
    background-image: url('echo-frente-verso.jpg');
    width: 100%;
    height: 52vh;
    background-position: center;
    background-size: cover;
    margin-top: 4%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}


.sec3{
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    align-items: center;
    color: #555555;
}

.back-bye{
    background-image: linear-gradient(to bottom right, #efe6e1, #1f0f0a7e);
    width: 100%;
    height: 62vh;
    background-position: top;
    background-size: cover;
    margin-top: 4%;
    box-sizing: border-box;
    align-items: center;
}

@media screen and (max-width: 775px){
    .back-bye{   
        height: auto;
    }
}



.sec3-title{
    padding-top: 30px;
    text-align: center;
    color: #555555;
    font-size: 30px;
    line-height: 35px;
    
    
}

@media screen and (max-width: 664px){
    .sec3-title h2{
        line-height: 40px;

    }
}

.sec3-title p{
    font-size: 20px;
    
}



.cardi{
    flex: 1 1 150px;
    width: 20px;
    padding: 2%;
    justify-content: space-evenly;
    
}

@media screen and (max-width: 449px){
    .cardi{
        border-bottom: solid 2px #aaa9a963;

    }
}

#btn{
    background-color: #cfcfcf;
    border: solid 1px #cfcfcf;
    margin-top: 10px;
    color: #162a2c;
    font-size: 11px;
    width: 81px;
    height: 17px;
    line-height: 0.1;
}

#btn:hover{
    background-color: #a09f9f;
    border: solid 1px #a09f9f;
}


.modal-header{
    background-color: #cfcfcf; 
}

.modal-header h1{
    color: #000000;
}

.modal-body{
    background-color: #1c3638;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-body p{
    font-size: 15px;
}


footer{
    height: 150px;
    color: #000000;
    padding-left: 50px;
    border-top: solid 2px #00000038;
    line-height: 30px;
    font-size: 12px;
}

.footer-class a{
    cursor: pointer;
    outline: none;
    color:black;
}