
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    
}

.contai{
    width: 100%;
    height: 80vh;
    /*background-image: linear-gradient(#000000b3,#000000b3),url(cyberpunk.jpg);*/
    background-image: url('echo-header.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    
    
}


.rou{
    display:flex;
    height:88%;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 510px){
    .rou{
        flex-direction: column;
        text-align: center;
        height: auto;
        padding-top: 40%;
    }
    .coluna{
        height: auto;
    }
    
}

.coluna{
    flex-basis: 50%;
   width: 100%;
   
}

.h1{
    color: #747373;
    font-size: 100px;

}

.coluna p{
    color: #727272;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
}


.button-header{
    width: 230px;
    height: 200px;
    outline: none;
    
    cursor: pointer;
    margin-right: 2px;
    
}




.sec2{
    flex-direction: column;
}

.sec-i3{
    background-image: url('echo-background.jpg');
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    
}

  

.txt-i3{
    text-align: center;
    flex-basis: 50%;
    font-size: 20px;
    text-shadow: white 1px 1px 2px;
    color: #797979;
}

.txt-i3 h2{
    font-size: 40px;
    padding-bottom: 10px;
    color: #797979;
}


.sec-i5{
    background-image: url('echo-muda.jpg');
    width: 100%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    display:flex;
    align-items: center;
}

.txt-i5{
    text-align: center;
    flex-basis: 50%;
    font-size: 20px;
    color: #6b6b6b;
}
@media screen and (max-width: 1200px){
    .txt-i5{
        flex-basis:60%;  
    }
}
  

.txt-i5 h2{
    font-size: 40px;
    padding-bottom: 10px;
    color: #6b6b6b;
}

@media screen and (max-width:500px){
    .txt-i3 h2{
        font-size: 24px;
        text-align: left;
    }
    .txt-i3 p{
        font-size: 14px;
        text-align: left;
    }
    .txt-i5 h2{
        font-size: 24px;
        text-align: left;
    }
    .txt-i5 p{
        font-size: 14px;
        text-align: left;
    }
}

.sec-i7 h3{
    text-align: center;
    color:#6b6b6b;
    margin-bottom: 0;
    margin-top: 3%;
}

.sec-i7 img{
    width: 99%;
}
   

.text-passos{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   text-align: center;
}
.text-passos-div{
    display: flex;
    color: #6b6b6b;
}
@media screen and (max-width:1000px){
    .text-passos-div{
        flex-direction: column;
        padding-left: 6%;
        font-size: 12px;
        padding-right: 3%;
    }
}

.text-passos-div h2{
    color:#00e3f3;
    line-height: 15px;
}

.sec-i9{
    width: 100%;
    height: auto;
    
    margin-top: 4%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}
@media screen and (max-width:650px){
    .sec-i9{
        flex-direction: column;
        height: auto;
    }
}

.sec-i9 img{
    width: 100%;
}


.sec3{
    display: flex;
    height: 30%;
    color: #555555;
}

.back-bye{
    background-image: linear-gradient(to bottom right, #faede5, #5a2d1f7c);
    width: 100%;
    height: auto;
    margin-top: 4%;
    box-sizing: border-box;
    
}

@media screen and (max-width: 775px){
    .back-bye{   
        height: auto;
    }
}



.sec3-title{
    padding-top: 30px;
    text-align: center;
    color: #555555;
    font-size: 30px;
    line-height: 35px;
    
    
}

@media screen and (max-width: 664px){
    .sec3-title h2{
        line-height: 40px;

    }
}

.sec3-title p{
    font-size: 18px;
    
}
@media screen and (max-width: 600px){
    .sec3-title p{
        font-size: 14px;
    }
    .sec3-title h2{
        font-size: 20px;
    }
    .cardi h4{
        font-size: 20px;
    }
}


.cardi{
    flex: 1 1 150px;
    padding: 2%;
    
}

@media screen and (max-width: 449px){
    .cardi{
        border-bottom: solid 2px #aaa9a963;

    }
}

#btn{
    background-color: #cfcfcf;
    border: solid 1px #cfcfcf;
    margin-top: 10px;
    color: #424242;
    font-size: 11px;
    width: 81px;
    height: 17px;
    line-height: 0.1;
    transition:0.3s;
}

#btn:hover{
    background-color: #ffffffcb;
    border: solid 1px #ffffffcb;
}


.modal-header{
    background-color: #cfcfcf; 
}

.modal-header h1{
    color: #000000;
}

.modal-body{
    background-image: linear-gradient(to bottom right, #efe6e1, #723d2d80);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-body ul li{
    font-size: 14px;
    text-align: left;
}


footer{
    height: 150px;
    color: #000000;
    padding-left: 50px;
    border-top: solid 1px #0000002f;
    line-height: 30px;
    font-size: 12px;
}

.footer-class a{
    cursor: pointer;
    outline: none;
    color:black;
}